# function list



if MESON_T7

choice
	prompt "T7 Board"

config KHADAS_VIM4
	bool "Khadas VIM4"
	select TARGET_KHADAS_VIM4
	help
	  Select Khadas VIM4 config

endchoice

config TARGET_KHADAS_VIM4
	bool "Khadas VIM4 board"
	depends on KHADAS_VIM4

endif


if MESON_S4

choice
        prompt "S4 Board"

config KHADAS_VIM1S
        bool "Khadas VIM1S"
        select TARGET_KHADAS_VIM1S
        help
          Select Khadas VIM1S config

endchoice

config TARGET_KHADAS_VIM1S
        bool "Khadas VIM1S board"
        depends on KHADAS_VIM1S

endif

# Khadas boards

source "board/khadas/kvim4/Kconfig"
source "board/khadas/kvim1s/Kconfig"
